body {
    font-family:monospace;
    color:#011342;
  }
  
  
  p {
    color:black;
  }
  
  
  a {
    color: #03345A;
  }

  .top {
    background-color:#f49c18;
  }

  

  th {
    text-transform:uppercase;
  }
  
  
  em {
    color:#10768D;
    background-color: rgb(23, 203, 239);

  }
  
  #the_most_important {
    text-transform:uppercase;
    background-color: gold;
  }
  
  h2 {
    font-family:sans-serif;
    border-bottom:1px solid #011342;
  }
  

  h2+p:first-letter {
    font-size:x-large;
  }
  
  th,td{
    padding:4px;
  }


  tbody tr:hover, tbody tr:hover td{
    background-color:#10768D;
  }
  
  table, th, td{
      border: 1px solid #011342;
      border-collapse:collapse;
  }
  

  
  header {
    text-transform:uppercase;
    background-color: #89959a;
    padding: 40px;
    color:white;
  }



  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
  
  
 
  nav li {
    margin-left: 8px;
    display:inline;
    
  }

  nav ul li:first-child {
    color:#011342;
    text-decoration:underline;

  }
  

  ::selection {
    background-color: green;
  }


  a:hover {
    cursor:pointer;
    color: white;

  }

  tbody tr:nth-child(odd){
    background-color: #89959a;
  }

  
  nav ul li:first-child a{
    text-decoration:underline;
    color:#011342;
  }
  
  input {
    height:30px;
  }
  
  input:not([type="submit"]){
    border: 2px solid lightgray;
  }
  
  input[name="message"]{
    height:50px;
  }
